body.light {
  color: #171717;
  background-color: #F7F7F7;
}

body.light h1,
body.light h2,
body.light h3,
body.light h4,
body.light h5,
body.light h6 {
  color: #272727;
}

body.light p {
  color: #5F5F5F;
}

body.light nav ul li a {
  color: #5F5F5F;
}

body.light.article article hr,
body.light.article section hr,
body.light.article header hr {
  background-color: #171717;
}

body.light.article article a {
  color: #687689;
  border-bottom: 1px solid #687689;
}

body.light.article article a:focus, body.light.article article a:hover {
  color: #171717;
  border-bottom-width: 2px;
}

body.light.article article a.btn {
  border: none;
}

body.dark {
  color: #FFFFFF;
  background-color: #272727;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #FFFFFF;
}

body.dark p {
  color: #F7F7F7;
}

body.dark nav ul li a {
  color: #FFFFFF;
}

body.dark.article article hr,
body.dark.article section hr,
body.dark.article header hr {
  background-color: #FFFFFF;
}

body.dark.article article a {
  color: #F7F7F7;
  border-bottom: 1px solid #F7F7F7;
}

body.dark.article article a:focus, body.dark.article article a:hover {
  color: #FFFFFF;
  border-bottom-width: 2px;
}

body.dark.article article a.btn {
  border: none;
}

body.article {
  padding-top: 50px;
}

body.article nav {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 12.5px;
  height: 50px;
  text-align: center;
  opacity: 0.5;
}

body.article nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body.article nav ul li {
  display: inline-block;
  padding: 0 25px;
}

body.article nav ul li#nav-main-toggle > a {
  display: none;
}

body.article nav:hover {
  opacity: 1;
}

body.article article,
body.article section,
body.article header {
  margin: 0 auto;
  width: 100%;
}

body.article article hr,
body.article section hr,
body.article header hr {
  margin: 50px auto 25px;
  width: 25%;
  height: 1px;
}

body.article article.small header,
body.article article.small section, body.article article.medium header,
body.article article.medium section, body.article article.large header,
body.article article.large section,
body.article section.small header,
body.article section.small section,
body.article section.medium header,
body.article section.medium section,
body.article section.large header,
body.article section.large section,
body.article header.small header,
body.article header.small section,
body.article header.medium header,
body.article header.medium section,
body.article header.large header,
body.article header.large section {
  display: block;
  margin: 0 auto;
}

body.article article.small,
body.article section.small,
body.article header.small {
  max-width: 480px;
}

body.article article.small header,
body.article article.small section,
body.article section.small header,
body.article section.small section,
body.article header.small header,
body.article header.small section {
  max-width: 480px;
}

body.article article.medium,
body.article section.medium,
body.article header.medium {
  max-width: 768px;
}

body.article article.medium header,
body.article article.medium section,
body.article section.medium header,
body.article section.medium section,
body.article header.medium header,
body.article header.medium section {
  max-width: 768px;
}

body.article article.large,
body.article section.large,
body.article header.large {
  max-width: 1200px;
}

body.article article.large header,
body.article article.large section,
body.article section.large header,
body.article section.large section,
body.article header.large header,
body.article header.large section {
  max-width: 1200px;
}

body.article h1 {
  margin: 100px auto 25px;
  font-family: "latobold", sans-serif, Helmet, Freesans;
  font-size: 3em;
}

body.article h2,
body.article h3,
body.article h4,
body.article h5,
body.article h6 {
  margin: 50px 0 12.5px;
}

body.article p {
  line-height: 200%;
  font-size: 1.25em;
}

body.article .image img,
body.article .image video,
body.article .image iframe {
  width: 100%;
}

body.article .image.full {
  max-width: 100%;
}

body.article .image-figure {
  text-align: center;
  font-size: 1em;
}

footer {
  padding: 100px 0 0;
  text-align: center;
}

footer #color-bar {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 480px;
  width: 100%;
  height: 10px;
  background-size: 1000%;
  background-image: linear-gradient(135deg, #FF5254, #745cc4, #FF5254, #FCB859, #f4de7c, #8CD19D, #5CACC4);
}
