@import "_config/_getConfig.scss";

@import "components/_buttons.scss";
@import "components/_colors.scss";
@import "components/_grid.scss";
@import "components/_helpers.scss";
@import "components/_icons.scss";
@import "components/_typography.scss";
@import "components/_forms.scss";

/*
* Author: Bear Hagen
* Author URI: http://bearhagen.com/
*/

/* --- Main --- */

* {
	&,
	&:before,
	&:after {
		-moz-box-sizing:border-box;
		box-sizing: inherit;
	}
}

html {
	box-sizing: border-box;
	position: relative;
	font-size: 62.5%;
}

body {
	position: relative;
	color: $cText;
	font-family: $fonts;
	font-size: 16px;

	&.bg-image {
		background-size: 100%;
		background-size: cover;
		background-size: inherit;
		background-repeat: no-repeat;
		background-position: top center;
		background-attachment: fixed;
	}
}

body,
div,
section {
	&.light {
		color: $cWhite;
	}

	&.dark {
		color: $cBlack;
	}
}

section {
	@include clear();
	clear: both;
}

a {
	color: $cText;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: $cPrimary;
	}

	&:focus {
		outline: 2px dashed $cAccent;
		outline-offset: 5px;
	}

	&.dont-change {
		&:hover,
		&:focus,
		&:active {
			color: $cText;
			text-decoration: none;
		}
	}
}

.link {
	@mixin linkstyle() {
		border-bottom: 1px solid $cGreyDark;

		&:hover,
		&:focus {
			border-color: $cPrimary;
		}
	}

	@include linkstyle();

	&s {
		a {
			@include linkstyle();
		}
	}
}

::selection {
	color: $cBlack;
	background: $cAccent;
	text-shadow: none !important;
}

::-moz-selection {
	color: $cBlack;
	background: $cAccent;
	text-shadow: none !important;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

hr {
	margin: 0;
	padding: 0;
	border: none;
	height: 3px;
	width: 25%;
}

/* --- General --- */

.layout-square {
	width: 100%;
	@include center('block');

	&-small {
		@extend .layout-square;
		max-width: $width-small;
	}

	&-medium {
		@extend .layout-square;
		max-width: $width-medium;
	}

	&-large {
		@extend .layout-square;
		max-width: $width-large;
	}
}

.content {
	p {
		margin: 2em auto;

		&:first-of-type {
			margin-top: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $cBlack;
		margin-top: 2em;
		margin-bottom: 0;

		&:first-of-type {
			margin-top: 2em;
			margin-bottom: 1em;
		}
	}
}