@import "_config/_getConfig.scss";
$border-width: 50px;

html,
body,
main {
    position: relative;
    height: 100%;
}

main {
    @include clear();
}

canvas {
    max-width: 100%;
}

#border {
    &-t,
    &-r,
    &-b,
    &-l,
     {
        position: fixed;
        overflow: hidden;
        background-color: $cWhite;
    }

    &-r,
    &-l {
        width: $border-width;
        height: 100%;
    }

    &-t,
    &-b {
        width: 100%;
        height: $border-width;
    }

    &-t {
        top: 0;
        right: 0;
        left: 0;
    }

    &-r {
        top: 0;
        right: 0;
        bottom: 0;
    }

    &-b {
        right: 0;
        bottom: 0;
        left: 0;
    }

    &-l {
        top: 0;
        bottom: 0;
        left: 0;
    }

    #logo {
        width: auto;
        height: $border-width;
        padding: $border-width / 6;
    }

    #nav-main {
        width: 100%;
        height: $border-width;

        ul {
            @include clear();
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center;

            li {
                display: inline-block;
                padding: 0 $padding-small;
                line-height: $border-width;
                font-size: 1.25em;
            }
        }
    }
}

.full-page {
    @include center('block');
    padding: $border-width + $padding-small;
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 1000px;
    overflow: hidden;

    &-inner {
        @include center('block');
        max-width: $width-small;
        width: 100%;
    }
}