/*
  Bruker noe CSS fra sanitize.css prosjektet https://csstools.github.io/sanitize.css/
*/

/* -------------------- Globale stiler som skal gjelde overalt -------------------- */

@import 'config/variables';
@import 'modules/utilities';
@import 'modules/utility-classes';

/* Fiks box-model */
*,
::after,
::before {
  box-sizing: inherit;
}

::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  color: $color-font-body;
  background-color: $color-body-bg;
  font-family: $font-body;
}

html {
  box-sizing: border-box;
  cursor: default;
  font-size: $font-base;
}

body {
  position: relative;
  font-size: $font-size;
  line-height: $line-height;
  @media screen and (min-width: $size-m-up) {
    font-size: $font-size-desktop;
    line-height: $line-height-desktop;
  }
}

#footer {
  padding: $pad-xl $pad-m;
  background-color: $color-white;
  text-align: center;

  a {
    color: $color-dark3;
  }
}

/* -------------------- Media - start -------------------- */
@import 'modules/media';
/* -------------------- Media - slutt -------------------- */
/* -------------------- Typography - start -------------------- */
@import 'modules/typography';
/* -------------------- Typography - slutt -------------------- */
/* -------------------- Navigation - start -------------------- */
@import 'modules/navigation';
/* -------------------- Navigation - slutt -------------------- */

main > header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 50vh;
  height: auto;
  background-position: center center;
  background-size: cover;
  background-color: $color-light5;

  &.header-fancy {
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 80vh;

    .header-content {
      width: 100%;
      padding: $pad-m;
      max-width: $size-l;
      text-align: center;
      background-color: $color-body-bg;

      @media screen and (min-width: $size-m-up) {
        padding: $pad-m $pad-l;
      }

      @media screen and (min-width: $size-l-up) {
        text-align: left;
        border-radius: 0 $border-radius-xs 0 0;
      }

      h1 {
        margin: 0;
      }
    }
  }

  &.header-fixed {
    background-attachment: fixed;
  }
}

.page-section {
  padding: $pad-m;

  @media screen and (min-width: $size-m-up) {
    padding: $pad-m $pad-l;
  }

  ul {
    padding-left: $pad-m;
  }
}

/* -------------------- Forside - start -------------------- */
#front-page {
  main > header {
    min-height: 100vh;
    background-image: url('https://i.xdh.no/5a7ad1edb05e');
    background-color: mix($color-body-bg, #646446, 50%);

    > nav {
      width: 100%;
      max-width: $size-m;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 $pad-s;

      @media screen and (min-width: $size-m-up) {
        flex-direction: row;
      }

      a {
        @include transition('background-color, color', 250ms);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        color: $color-white;
        border-radius: $border-radius-xs;
        padding: $pad-s;
        text-decoration: none;
        background-color: rgba($color-black, 0.3);
        box-shadow: 0 2em 2em -2em rgba($color-black, 0.3);
        margin: $pad-m 0;
        width: 10em;
        height: 10em;

        &:focus,
        &:hover {
          outline: none;
          color: $color-black;
          background-color: $color-white;
        }

        @media screen and (min-width: $size-m-up) {
          margin: 0;
        }

        p {
          margin: 0 0 $pad-s;
          font-size: 1.25em;
          font-weight: 400;
        }

        svg {
          width: 100%;
          max-width: 2.25em;
        }
      }

    }
  }
}
/* -------------------- Forside - slutt -------------------- */

/* -------------------- spesifikke sider - start -------------------- */
#lab-page,
#om_meg-page,
#obliger-page {
  main > header {
    background-image: url("https://i.xdh.no/221ab97c497c");

    .header-content {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      align-items: center;

      svg {
        margin-right: 1em;
        max-width: 3em;
      }
    }
  }
}

#om_meg-page {
  #me {
    @include transition('transform, border-radius', 250ms);
    transform: scale(1.0);
    display: block;
    max-width: 15em;
    width: 100%;
    border-radius: 100%;
    margin: 0 auto;

    &:hover {
      border-radius: 1em;
    }

    &:active {
      border-radius: 2em;
      transform: scale(1.1);
    }
  }

  .content-wrapper {
    margin: 15em auto 0;
  }
}
/* -------------------- spesifikke sider - slutt -------------------- */

body {
  &.article-page {
    article {
      padding-top: $pad-m;
      padding-bottom: $pad-l;

      @media screen and (max-width: $size-m) {
        .content-wrapper {
          padding: 0 $pad-m;
        }
      }
    }
  }

  &.error-page {
    main {
      text-align: center;
      padding: $pad-xxl $pad-s;
    }
  }
}
