@import "_config/_getConfig.scss";

#hjem {
    h1 {
        margin-top: $padding-large;
    }

    p {
        &:first-of-type {
            margin-top: $padding-medium;
        }

        &:last-of-type {
            margin-bottom: $padding-medium;
        }
    }

    img {
        margin-top: $padding-large;
    }
}