@import 'config/variables';
@import 'modules/utilities';

*,
::after,
::before {
  box-sizing: inherit;
}

::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $color-font-body;
  background-color: $color-body-bg;
  font-family: $font-body;
}

html {
  box-sizing: border-box;
  cursor: default;
  font-size: $font-base;
}

body {
  position: relative;
  font-size: $font-size;
  line-height: $line-height;
  @media screen and (min-width: $size-m-up) {
    font-size: $font-size-desktop;
    line-height: $line-height-desktop;
  }
}
@import 'modules/media';
@import 'modules/typography';

#front-page {
  .articles {
    padding: $pad-l;

    > header {
      // grid-column: 1/4;
      padding: $pad-l 0 $pad-m;
      font-size: 2em;
    }

    // display: grid;
    // grid-template-columns: repeat(3, minmax(300px, max-content));
    // grid-template-rows: auto;
    // grid-gap: $pad-m;

    display: flex;
    flex-direction: column;

    .article {
      // background-color: $color-white;
      position: relative;
      height: 100vh;
      min-height: $size-m;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
      grid-gap: 1em;
      border: 1px solid black;

      &:nth-child(odd) {
      }

      &:nth-child(even) {
      }

      &-header {
        overflow: hidden;
        position: relative;
        grid-column: 1/2;

        .article-image {
          width: 100%;
        }

        .article-title {
          font-size: 3em;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          text-align: center;
        }
      }

      &-content {
        grid-column: 2/3;

      }


      &-footer {
        grid-column: 2/3;
        // padding: 0 $pad-m $pad-m;
      }
    }
  }
}
