@import "_config/_getConfig.scss";

body {
    &.light {
        color: $cBlack;
        background-color: $cGrey;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $cBlackLight;
        }

        p {
            color: $cGreyDark;
        }

        nav {
            ul {
                li {
                    a {
                        color: $cGreyDark;
                    }
                }
            }
        }

        &.article {
            article,
            section,
            header {
                hr {
                    background-color: $cBlack;
                }
            }

            article {
                a {
                    color: $cGreyBlue;
                    border-bottom: 1px solid $cGreyBlue;

                    &:focus,
                    &:hover {
                        color: $cBlack;
                        border-bottom-width: 2px;
                    }

                    &.btn {
                        border: none;
                    }
                }
            }
        }

        kbd {
            margin-right: 2.5px;
            margin-left: 2.5px;
            padding: 3px 10px;
            color: darken($cGrey, 75%);
            border: 3px solid darken($cGrey, 15%);
            border-top: 2px solid darken($cGrey, 10%);
            border-bottom-color: darken($cGrey, 30%);
            border-radius: 5px;
            text-transform: uppercase;
            font-family: 'latobold';
            -webkit-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
            -moz-transition:    all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
            -o-transition:      all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
            transition:         all 0.1s cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
                cursor: pointer;
            }

            &:active {
                padding: 2px 7px;
                font-size: 0.9em;
                margin-left: 6px;
                margin-right: 7px;
                border-width: 2px;
            }

            &::selection {
                color: $cBlack;
                background: transparent;
            }
        }
    }

    &.dark {
        color: $cWhite;
        background-color: $cBlackLight;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $cWhite;
        }

        p {
            color: $cGrey;
        }

        nav {
            ul {
                li {
                    a {
                        color: $cWhite;
                    }
                }
            }
        }

        &.article {
            article,
            section,
            header {
                hr {
                    background-color: $cWhite;
                }
            }

            article {
                a {
                    color: $cGrey;
                    border-bottom: 1px solid $cGrey;

                    &:focus,
                    &:hover {
                        color: $cWhite;
                        border-bottom-width: 2px;
                    }

                    &.btn {
                        border: none;
                    }
                }
            }
        }
    }

    &.article {
        padding-top: $navigation-height;

        nav {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            width: 100%;
            padding: $padding-small / 2;
            height: $navigation-height;
            text-align: center;
            opacity: 0.75;

            #nav-main-wrapper {
                @include clear();
                @include center('block');
                width: 100%;
                max-width: $width-large;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                &#nav-main-logo {
                    float: left
                }

                &#nav-main-menu {
                    float: right;
                }

                li {
                    display: inline-block;
                    padding: 0 $padding-small;
                }
            }

            &:hover {
                opacity: 1;
            }
        }

        article {
            margin: 0 auto;
            width: 100%;

            hr {
                margin: $padding-medium auto $padding-small;
                width: 25%;
                height: 1px;
            }

            > header,
            > section,
            > footer {
                display: block;
                margin: 0 auto;

                &.full {
                    padding: 0;
                }
            }

            &.small {
                header,
                section,
                footer {
                    max-width: $width-small;
                }
            }

            &.medium {
                header,
                section,
                footer {
                    max-width: $width-medium;
                }
            }

            &.large {
                header,
                section,
                footer {
                    max-width: $width-large;
                }
            }
        }

        h1 {
            margin: $padding-large auto $padding-small;
            font-size: 3em;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: $padding-medium 0 $padding-small/2;
        }

        .image {
            img,
            video,
            iframe {
                width: 100%;
            }

            &.full {
                max-width: 100%;
            }

            &-figure {
                text-align: center;
                font-size: 1em;
            }

            &-zoomable {
                cursor: -webkit-zoom-in;
                cursor: zoom-in;
                background-color: $cWhite;

                &:active {
                    position: fixed;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: auto;
                    z-index: 2;
                }

                &.zoom-active {
                    position: absolute;
                    left: -25%;
                    right: -25%;
                    width: 150%;
                    max-width: 150%;
                    z-index: 2;
                }
            }
        }
    }
}

footer {
    &#footer {
    padding: $padding-large 0 0;
    text-align: center;

        #color-bar {
            @include center('block');
            width: $width-small;
            width: 100%;
            height: 10px;
            background-size: 1000%;
            background-image: linear-gradient(135deg, $cRed, $cPurple, $cRed, $cOrange, $cYellow, $cGreen, $cBlue);
        }
    }
}

// ::-webkit-scrollbar {
//     background-color: $cGrey;
//     width: 10px;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: $cBlack;
// }


@media #{$medium-and-down} {
    body {
        &.article {
            nav {
                #nav-main-wrapper {
                    @include clear();
                    @include center('block');
                    width: 100%;
                    max-width: $width-large;
                }

                ul {
                    &#nav-main-menu {
                        float: right;
                        li {
                            padding: 0 $padding-small/2;

                            a {
                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            article {
                > header,
                > section,
                > footer {
                    padding-right: $padding-small / 2;
                    padding-left: $padding-small / 2;
                }

                p {
                    line-height: 160%;
                    font-size: 1em;
                }
            }
        }
    }
}

@media #{$medium-and-up} {
    body {
        &.article {
            article {
                > header,
                > section,
                > footer {
                    padding-right: $padding-small;
                    padding-left: $padding-small;
                }

                p {
                    line-height: 180%;
                    font-size: 1.1em;
                }
            }
        }
    }
}

@media #{$large-and-up} {
    body {
        &.article {
            article {
                > header,
                > section,
                > footer {
                    padding-right: 0;
                    padding-left: 0;
                }

                p {
                    line-height: 200%;
                    font-size: 1.25em;
                }
            }
        }
    }
}