@import "_config/_getConfig.scss";

ol {
    list-style-type: lower-latin;

    li {
        line-height: 200%;

        span {
            display: inline-block;
            min-width: 50px;

            &.eq {
                text-align: center;
            }

            &.bin {
                letter-spacing: 5px;

                &:first-child {
                    min-width: 125px;
                }
            }
        }

        table {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 25px;

            tr {
                line-height: 200%;

                td {
                    padding: 0 5px;
                    text-align: right;
                }

                &:last-child td {
                    border-top: 1px solid black;
                    border-bottom: 4px double black;
                }
            }
        }

        &:hover {
            font-weight: 700;
        }
    }

}

table {
    &.borders {
        width: 100%;

        td {
            padding: 5px 10px;
            border: 1px solid $cGreyDark;
        }
    }
}