@import 'config/variables';
@import 'modules/utilities';

/* -------------------- Print - start -------------------- */
body {
  display: block; // Fix print in all browsers
  font-family: serif;
  color: #000;
  background-color: #fff !important;

  >nav,
  >footer {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
figure {
  color: #000 !important;
  page-break-before: auto !important;
  page-break-after: auto !important;
  page-break-inside: avoid !important;
}

a {
  &:after {
    content: " (" attr(href) ")";
    opacity: 0.8;
    font-size: 0.8em;
  }
}

img,
figure {
  max-width: 40rem !important;
  margin: 0 !important;
  height: auto !important;
}

body.article-page {
  pre,
  code {
    border: 1px solid $color-black-green;
    color: $color-black-green;
    background-color: #fff;
  }

  // .split,
  // .split.reverse {
  //   page-break-inside: avoid;
  // }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .wrapper,
  .split,
  .split.reverse {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
  }
}
/* -------------------- Print - slutt -------------------- */
