@import 'config/variables';
@import 'modules/utilities';

body,
html {
  margin: 0;
  padding: 0;
  font-family: $font-body;
}

html {
  box-sizing: border-box;
  font-size: $font-base;
}

body {
  // position: relative;
  font-size: $font-size;
  line-height: $line-height;

  @media screen and (min-width: $size-m-up) {
    font-size: $font-size-desktop;
    line-height: $line-height-desktop;
  }
}

::-moz-selection {
  background-color: $color-accent;
  color: $color-white;
  text-shadow: none;
}

::selection {
  background-color: $color-accent;
  color: $color-white;
  text-shadow: none;
}

@import 'modules/utility-classes';

/* -------------------- Typography - start -------------------- */
@import 'modules/typography';
/* -------------------- Typography - slutt -------------------- */
/* -------------------- Media - start -------------------- */
@import 'modules/media';
/* -------------------- Media - slutt -------------------- */
/* -------------------- Buttons - start -------------------- */
@import 'modules/buttons';
/* -------------------- Buttons - slutt -------------------- */
/* -------------------- Navigation - start -------------------- */
@import 'modules/navigation';
/* -------------------- Navigation - slutt -------------------- */

/* -------------------- Frontpage - start -------------------- */
#fp {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto minmax(3em, 10vh) auto auto auto;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "n n n n n n n n n n n n"
    "m m m m m m m m m m m m"
    "a a a a a a a a a a a a"
    "f f f f f f f f f f f f";
  background-color: $color-white;
  background-color: $color-gray-cold-light;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  @media screen and (min-width: $size-m-up) {
  grid-template-areas:
    "h h h h h h h h h h h h"
    "n n n n n n n n n n n n"
    "m m m m m m m m m a a a"
    "f f f f f f f f f f f f";
    grid-template-rows: 80vh minmax(3em, 10vh) auto 50vh;
  }

  >header {
    grid-area: h;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    background-color: $color-gray-cold-light;

    >figure,
    >section {
      width: 100%;
      flex-grow: 1;
      padding: $pad-m;

      @media screen and (min-width: $size-m-up) {
        width: 50%;
      }
    }

    >figure {
      height: 50vw;

      @media screen and (max-width: $size-m) {
        max-height: 50vh;
      }

      @media screen and (min-width: $size-m-up) {
        height: 100%;
      }

      img {
        opacity: 0;
      }

      .bg-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
      }
    }

    >section {
      @media screen and (min-width: $size-m-up) {
        position: sticky;
        top: 0;
        padding-bottom: 20vh;
      }

      h1 {
        margin-top: 0;
      }
    }
  }

  >nav {
    position: sticky;
    top: 0;
    z-index: 4;
    grid-area: n;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: $color-white;
    padding: 0 $pad-m;

    @media screen and (min-width: $size-m-up) {
      width: 75%;
    }

    .brand,
    .links {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }

    .brand {
      a {
        width: 2em;
        height: 2em;
      }

      img {
        height: 100%;
        width: auto;
      }
    }

    .links {
      flex-grow: 1;

      a {
        padding: 0 $pad-s;
        text-decoration: none;

        &:first-child {
          margin-left: auto;
        }
      }
    }
  }

  >main {
    position: relative;
    grid-area: m;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $pad-m 0 $pad-xxl;

    >article {
      @include transition('all', 250ms);
      width: 100%;
      padding: $pad-m;
      margin: 0 0 $pad-m 0;
      background-color: $color-gray-cold-light;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      @media screen and (min-width: $size-s-up) and (max-width: $size-m) {
        width: (100%/2);
      }

      @media screen and (min-width: $size-m-up) {
        width: (100%/3);
      }

      h2 {
        @include transition('all', 250ms);
        margin-top: $pad-xs;
      }

      p {
        margin: 0;
        padding: 0 0 $pad-m 0;
      }

      .button {
        @include transition('all', 250ms);
        margin: auto 0 0 0;
      }

      &:hover {
        color: $color-gray-cold-light;
        background-color: $color-gray-cold-dark;

        h2 {
          color: $color-gray-cold-light;
        }

        .button {
          color: $color-gray-cold-light;
          border-color: $color-gray-cold-light;
          background-color: $color-gray-cold-dark;

          &:focus,
          &:hover {
            color: $color-gray-cold-dark;
            background-color: $color-gray-cold-light;
          }
        }
      }
    }
  }

  >aside {
    position: relative;
    grid-area: a;
    padding: $pad-l $pad-l;
    background-color: $color-white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    .links, .buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      align-content: center;
    }

    .links {
      h3 {
        margin-top: 0;
      }

      ul {
        list-style-type: disc;
        list-style-position: outside;
        padding-left: $pad-m;
        margin: 0;

        li {
          margin-top: $pad-xxs;
        }
      }
    }

    .buttons {
      align-items: center;

      p {
        margin-top: 1em;
        margin-bottom: 0.2em;
      }
    }

    @media screen and (min-width: $size-m-up) {
      position: sticky;
      top: 0;
      margin-top: -30vh;
      margin-bottom: 50vh;
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  >footer {
    position: relative;
    z-index: 3;
    grid-area: f;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding: $pad-xxl $pad-m;
    text-align: center;
    background-color: $color-white;
    height: 100%;
    box-shadow: 0 1em 5em -2em rgba($color-shadow, 0.25);

    p:last-child {
      margin-top: 2em;
    }
  }
}

#button-youtube,
#button-google {
  border: none;
  border-radius: 5px;
  padding: 0.25em 1em 0.25em 0.25em;
  box-shadow: 0 0.2em 0.5em -0.25em rgba($color-shadow, 0.25);

  span {
    padding: $pad-xxs 0 $pad-xxs;
  }

  img {
    border-radius: 5px;
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
  }
}

#button-google {
  @include transition('all');
  color: #fff;
  background-color: #4485F2;
  box-shadow: 0 0.5em 1em -0.5em rgba(#4485F2, 0.5);

  &:focus,
  &:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgba(#4485F2, 0.75);
  }

  &:active {
    box-shadow: 0 0.5em 1em -0.5em rgba(#4485F2, 0.5);
  }

  img {
    padding: 0.25em;
  }
}

#button-youtube {
  @include transition('all');
  color: #fff;
  background-color: #FF0000;
  box-shadow: 0 0.5em 1em -0.5em rgba(#FF0000, 0.5);

  &:focus,
  &:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgba(#FF0000, 0.75);
  }

  &:active {
    box-shadow: 0 0.5em 1em -0.5em rgba(#FF0000, 0.5);
  }

  img {
    padding: 0;
  }
}

#modal-yt-video {
  display: none;
  position: fixed;
  cursor: pointer;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, 0.7);
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;

  iframe {
    display: block;
    margin: auto;
    min-width: 80vw;
    min-height: 40vh;

    @media screen and (min-width: $size-m-up) {
      min-width: 65vw;
      min-height: 75vh;
    }
  }
}

/* -------------------- Frontpage - slutt -------------------- */
