@import 'config/variables';
@import 'modules/utilities';

body,
html {
  margin: 0;
  padding: 0;
  font-family: $font-body;
}

html {
  box-sizing: border-box;
  font-size: $font-base;
}

body {
  position: relative;
  font-size: $font-size;
  line-height: $line-height;

  @media screen and (min-width: $size-s-up) {
    font-size: $font-size-desktop;
    line-height: $line-height-desktop;
  }

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto minmax(3em, 10vh) auto auto auto;
  grid-template-areas: "h h h h h h h h h h h h"
  "n n n n n n n n n n n n"
  "m m m m m m m m m m m m"
  "a a a a a a a a a a a a"
  "f f f f f f f f f f f f";
  background-color: $color-gray-cold-light;
  align-items: flex-start;

  >header {
    grid-area: h;
  }

  >main {
    grid-area: m;
  }

  >aside {
    grid-area: a;
  }

  >footer {
    grid-area: f;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding: $pad-xxl $pad-m;
    text-align: center;
    background-color: $color-white;
    height: 100%;
    box-shadow: 0 1em 5em -2em rgba($color-shadow, 0.25);

    p:last-child {
      margin-top: 2em;
    }
  }
}

::-moz-selection {
  background-color: $color-primary;
  color: $color-primary-darkest;
  text-shadow: none;
}

::selection {
  background-color: $color-primary;
  color: $color-primary-darkest;
  text-shadow: none;
}

a {
  @include transition('color', 250ms);
  position: relative;
  color: $color-gray-cold-dark;
  text-decoration: none;

  &:after {
    @include transition('width', 500ms);
    content: ' ';
    z-index: 1;
    position: absolute;
    bottom: -0.1em;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $color-gray-cold-dark;
  }

  &:focus,
  &:hover {
    color: $color-primary;

    &:after {
      left: 0;
      right: auto;
      width: 100%;
    }
  }

  &.button:after,
  &.link:after {
    content: none;
    display: none;
  }
}

@import 'modules/utility-classes';

/* -------------------- Typography - start -------------------- */
@import 'modules/typography';
/* -------------------- Typography - slutt -------------------- */
/* -------------------- Media - start -------------------- */
@import 'modules/media';
/* -------------------- Media - slutt -------------------- */
/* -------------------- Buttons - start -------------------- */
@import 'modules/buttons';
/* -------------------- Buttons - slutt -------------------- */
/* -------------------- Navigation - start -------------------- */
@import 'modules/navigation';
/* -------------------- Navigation - slutt -------------------- */

/* -------------------- Frontpage - start -------------------- */
#fp {
  @media screen and (min-width: $size-m-up) {
  grid-template-areas:
    "h h h h h h h h h h h h"
    "n n n n n n n n n n n n"
    "m m m m m m m m m a a a"
    "f f f f f f f f f f f f";
    grid-template-rows: 80vh minmax(3em, 10vh) auto 50vh;
  }

  >header {
    $icyblue: #93a7b6;

    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    color: darken($icyblue, 35%);
    padding: 0;
    background-color: $icyblue;

    @media screen and (min-width: $size-m-up) {
      padding: $pad-l 0;
    }


    >figure,
    >section {
      width: 100%;
      flex-grow: 1;
      padding: $pad-m;

      @media screen and (min-width: $size-m-up) {
        width: 50%;
      }
    }

    >figure {
      height: 50vw;
      overflow: hidden;
      padding: 0 $pad-l;

      @media screen and (max-width: $size-m) {
        max-height: 50vh;
      }

      @media screen and (min-width: $size-m-up) {
        height: 100%;
      }

      // img {
      //   opacity: 0;
      // }

      // .bg-image {
      //   width: 100%;
      //   height: 100%;
      //   background-size: cover;
      //   background-position: center center;
      // }

    }

    >section {
      @media screen and (min-width: $size-m-up) {
        position: sticky;
        top: 0;
        padding: 0 0 20vh;
        align-self: center;
      }

      h1 {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        color: darken($icyblue, 40%);
      }

      .button {
        color: lighten($icyblue, 30%);
        border-color: darken($icyblue, 30%);
        background-color: darken($icyblue, 30%);
      }
    }
  }

  > nav {
    @media screen and (min-width: $size-m-up) {
      width: 75%;
    }
  }

  >main {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $pad-m 0 $pad-xxl;

    >article {
      @include transition('all', 250ms);
      width: 100%;
      padding: $pad-m;
      margin: 0 0 $pad-m 0;
      background-color: $color-gray-cold-light;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      @media screen and (min-width: $size-s-up) and (max-width: $size-m) {
        width: (100%/2);
      }

      @media screen and (min-width: $size-m-up) {
        width: (100%/3);
      }

      h2 {
        @include transition('all', 250ms);
        margin-top: $pad-xs;
      }

      p {
        margin: 0;
        padding: 0 0 $pad-m 0;
      }

      .button {
        @include transition('all', 250ms);
        margin: auto 0 0 0;
      }

      &:hover {
        color: $color-gray-cold-light;
        background-color: $color-gray-cold-dark;

        h2 {
          color: $color-gray-cold-light;
        }

        .button {
          color: $color-gray-cold-light;
          border-color: $color-gray-cold-light;
          background-color: $color-gray-cold-dark;

          &:focus,
          &:hover {
            color: $color-gray-cold-dark;
            background-color: $color-gray-cold-light;
          }
        }
      }
    }
  }

  >aside {
    position: relative;
    padding: $pad-l $pad-l;
    background-color: $color-white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    .links, .buttons {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      align-content: center;
    }

    .links {
      h3 {
        margin-top: 0;
      }

      ul {
        list-style-type: disc;
        list-style-position: outside;
        padding-left: $pad-m;
        margin: 0;

        li {
          margin-top: $pad-xxs;
        }
      }
    }

    .buttons {
      align-items: center;

      p {
        margin-top: 1em;
        margin-bottom: 0.2em;
      }
    }

    @media screen and (min-width: $size-m-up) {
      position: sticky;
      top: 0;
      margin-top: -30vh;
      margin-bottom: 50vh;
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

#button-youtube,
#button-google {
  border: none;
  border-radius: 5px;
  padding: 0.25em 1em 0.25em 0.25em;
  box-shadow: 0 0.2em 0.5em -0.25em rgba($color-shadow, 0.25);

  span {
    padding: $pad-xxs 0 $pad-xxs;
  }

  img {
    border-radius: 5px;
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
  }
}

#button-google {
  @include transition('all');
  color: #fff;
  background-color: #4485F2;
  box-shadow: 0 0.5em 1em -0.5em rgba(#4485F2, 0.5);

  &:focus,
  &:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgba(#4485F2, 0.75);
  }

  &:active {
    box-shadow: 0 0.5em 1em -0.5em rgba(#4485F2, 0.5);
  }

  img {
    padding: 0.25em;
  }
}

#button-youtube {
  @include transition('all');
  color: #fff;
  background-color: #FF0000;
  box-shadow: 0 0.5em 1em -0.5em rgba(#FF0000, 0.5);

  &:focus,
  &:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgba(#FF0000, 0.75);
  }

  &:active {
    box-shadow: 0 0.5em 1em -0.5em rgba(#FF0000, 0.5);
  }

  img {
    padding: 0;
  }
}

#modal-yt-video {
  display: none;
  position: fixed;
  cursor: pointer;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, 0.7);
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;

  iframe {
    display: block;
    margin: auto;
    min-width: 80vw;
    min-height: 40vh;

    @media screen and (min-width: $size-m-up) {
      min-width: 65vw;
      min-height: 75vh;
    }
  }
}
/* -------------------- Frontpage - slutt -------------------- */

/* -------------------- Articles - start -------------------- */
body.article-page {
  overflow-x: hidden;
  main > article {

    > header > section,
    > section {
      margin-left: auto;
      margin-right: auto;
    }

    > header figcaption {
      margin-left: auto;
      margin-right: auto;
      max-width: $size-m;
    }

    > header > section {
      padding: $pad-xxl $pad-s;
      width: 100%;
      max-width: $size-m;

      h1 {
        margin-top: 0;
      }

      .author {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        color: $gray7_cold;
        margin-top: $pad-l;

        a,
        span,
        img {
          margin-right: $pad-xs;
        }

        img {
          width: $pad-xxl;
          height: $pad-xxl;
          border-radius: 100%;
          border: 1px solid $gray7_cold;
        }
      }
    }

    figure {
      img,
      figcaption {
        width: 100%;
      }

      figcaption {
        color: $gray7_cold;
        padding: $pad-s $pad-s $pad-m;

        @media screen and (min-width: $size-m-up) {
          padding: $pad-s 0 $pad-m;
        }
      }
    }

    table,
    .split {
      margin-top: $pad-xl;
      margin-left: auto;
      margin-right: auto;
      max-width: $size-l;

      &+.wrapper {
        margin-top: $pad-xl;
      }
    }

    table {
      width: 100%;

      thead,
      tbody {
        width: 100%;
      }

      thead th,
      tbody td {
        text-align: left;
        padding: $pad-xs;
        border-right: 3px solid $gray3_cold;

        &:last-child {
          border-right: 0;
        }
      }

      thead {
        tr {
          background-color: $gray2_cold;
          border-bottom: 3px solid $gray3_cold;
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: $gray1_cold;
          }

          &:nth-child(even) {
            background-color: $gray2_cold;
          }
        }
      }
    }

    > section {
      padding: 0 $pad-s;

      h1, h2, h3
      h4, h5, h6,
      .wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: $size-m;

        p:last-child {
          margin-bottom: 0;
        }
      }

      p {
        @extend .read;
      }

      .wrapper {
        figure,
        > img {
          @extend .read;

          &.full-width {
            max-width: 100%;
          }
        }
      }
    }

    .split {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;

      figure,
      >img {
        width: 100%;
        margin-bottom: $pad-m;

        @media screen and (min-width: $size-m-up) {
          width: 55%;
          margin-bottom: 0;
        }
      }

      >p,
      .text {
        width: 100%;

        @media screen and (min-width: $size-m-up) {
          padding-left: $pad-xl;
          width: 45%;
        }
      }

      &.reverse {
        flex-direction: row-reverse;

        >p,
        .text {
          padding-left: 0;
          padding-right: $pad-xl;
        }
      }
    }

  }

  > footer {
    margin-top: $pad-xxl;
  }
}
/* -------------------- Articles - slutt -------------------- */
/* -------------------- About - start -------------------- */
#about {
  article {
    > section:last-child {
      padding-top: $pad-xl;
    }

    img,p,h1,h2 {
      max-width: $size-m;
      margin-left: auto;
      margin-right: auto;
    }

    h2 {
      margin-top: 0.5em;
    }

    img {
      margin-top: $pad-xl;
      display: block;
      width: 20em;
    }

    .split {
      align-items: center;
      align-content: center;
    }
  }
}
/* -------------------- About - slutt -------------------- */
