@import 'config/variables';
@import 'modules/utilities';

body,
html {
  margin: 0;
  padding: 0;
  font-family: $font-body;
}

html {
  box-sizing: border-box;
  font-size: $font-base;
}

body {
  // position: relative;
  font-size: $font-size;
  line-height: $line-height;

  @media screen and (min-width: $size-m-up) {
    font-size: $font-size-desktop;
    line-height: $line-height-desktop;
  }
}

::-moz-selection {
  background-color: $color-accent;
  color: $color-white;
  text-shadow: none;
}

::selection {
  background-color: $color-accent;
  color: $color-white;
  text-shadow: none;
}

@import 'modules/utility-classes';

/* -------------------- Media - start -------------------- */
@import 'modules/media';
/* -------------------- Media - slutt -------------------- */
/* -------------------- Typography - start -------------------- */
@import 'modules/typography';
/* -------------------- Typography - slutt -------------------- */
/* -------------------- Navigation - start -------------------- */
@import 'modules/navigation';
/* -------------------- Navigation - slutt -------------------- */

/* -------------------- Frontpage - start -------------------- */
#fp {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 10vh auto 100vh;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "n n n n n n n n n n n n"
    "m m m m m m m m m a a a"
    "f f f f f f f f f f f f";
  background-color: $color-white;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  @media screen and (min-width: $size-m-up) {
    grid-template-rows: 80vh 10vh auto 50vh;
  }

  >header {
    grid-area: h;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    background-color: $white;

    >figure,
    >section {
      width: 100%;
      flex-grow: 1;
      padding: $pad-m;

      @media screen and (min-width: $size-m-up) {
        width: 50%;
      }
    }

    >figure {
      height: 50vw;

      @media screen and (max-width: $size-m) {
        max-height: 50vh;
      }

      @media screen and (min-width: $size-m-up) {
        height: 100%;
      }

      img {
        opacity: 0;
      }

      .bg-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
      }
    }

    >section {
      @media screen and (min-width: $size-m-up) {
        position: sticky;
        top: 0;
        padding-bottom: 20vh;
      }

      h1 {
        margin-top: 0;
      }
    }
  }

  >nav {
    position: sticky;
    top: 0;
    z-index: 1;
    grid-area: n;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: $gray1;
    padding: 0 $pad-m;

    @media screen and (min-width: $size-m-up) {
      width: 75%;
    }
  }

  >main {
    position: relative;
    grid-area: m;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: $pad-m $pad-m $pad-xxl;

    >article {
      border: 1px solid $gray2;
      width: 100%;
      height: 50vh;

      @media screen and (min-width: $size-s-up) and (max-width: $size-m) {
        width: (100%/2);
      }

      @media screen and (min-width: $size-m-up) {
        width: (100%/3);
      }
    }
  }

  >aside {
    position: sticky;
    top: 10vh;
    grid-area: a;
    padding: $pad-m;
    background-color: $color-gray-cold-light;
    margin-bottom: 100vh;

    @media screen and (min-width: $size-m-up) {
      top: 0;
      margin-top: -30vh;
      margin-bottom: 50vh;
    }
  }

  >footer {
    position: relative;
    z-index: 1;
    grid-area: f;
    padding: $pad-xxl $pad-m;
    text-align: center;
    background-color: $color-white;
    height: 100%;
    box-shadow: 1em 0 5em -2em rgba($color-shadow, 0.25);

    p:last-child {
      margin-top: 2em;
    }
  }
}

/* -------------------- Frontpage - slutt -------------------- */
