@import "../../../../../sass/_config/_getConfig.scss";

$color__brand-primary:    #77EEDF;
$color__brand-accent:     #eea477;
$color__brand-purple:     #a477ee;
$color__brand-red:        #ee7786;
$color__brand-blue:       #95e4f5;
$color__brand-green:      #77eea4;
$color__brand-yellow:     #eee077;

$color__brand-grey-cold:  #c0dee5;
$color__brand-grey:       #c3d2d6;
$color__brand-grey-warm:  #e1dbd6;
$color__brand-black-dark: #74777c;
$color__brand-black:      #28292B;

html,
body,
main {
	height: 100%;
}

html {
	background-color: $color__brand-primary;
}

.o4 {
    &-primary {
        &-bg {
            background-color: $color__brand-primary;
        }

        &-text {
            color: $color__brand-primary;
        }
    }

    &-accent {
        &-bg {
            background-color: $color__brand-accent;
        }

        &-text {
            color: $color__brand-accent;
        }
    }

	&-fullscreen {
		position: relative;
		height: 100%;

		&-image,
		&-overlay,
		&-inner {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block
		}

		&-image {
			pointer-events: none;
			z-index: 1;
		}

		&-overlay {
			pointer-events: none;
			z-index: 2;
			opacity: 0.8;
		}

		&-inner {
			z-index: 3;

			&-search {
				@include transition(0.25s);
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				display: block;
				margin: 0 auto;
				padding: 35px 50px;
				width: 100%;
				max-width: 500px;
				text-align: center;
				@include transform(translateY, -50%);
				color: $color__brand-black;
				outline: 1px solid $color__brand-black;
				overflow-y: auto;
				outline-offset: -10px;
				background-color: $cWhite;

				input,
				button {
					-moz-box-sizing: border-box;
    				box-sizing: inherit;
					display: inline-block;
    				border: none;
					background-color: $cWhite;

					&:hover,
					&:focus {
						outline: none;
					}

					&:hover {
						cursor: pointer;
					}
				}

				input {
					color: $color__brand-black;
        			font-weight: normal;
        			font-family: $font_light;

					&::-webkit-input-placeholder { color: $color__brand-grey; background-color: transparent; }
					&:-ms-input-placeholder      { color: $color__brand-grey; background-color: transparent; }
					&::-moz-placeholder          { color: $color__brand-grey; background-color: transparent; }
					&:-moz-placeholder           { color: $color__brand-grey; background-color: transparent; }
				}

				button {
					display: inline-block;
					border: none;
					                               color: $color__brand-grey;
					
					i {
						vertical-align: top;

						&:before {
							vertical-align: top;
						}
					}

					&:hover,
					&:focus {
						color: $color__brand-black;
					}
				}
			}

			.weather {
				&-icon {
					display: none;
				}
			}
		}

		&-footer {
			position: absolute;
			z-index: 3;
			right: 0;
			bottom: 0;
			left: 0;
			padding-bottom: 10px;
			color: $cWhite;
			color: darken($color__brand-primary, 35%);
			text-align: center;

			p {
				margin: 0;
			}

			a {
				color: darken($color__brand-primary, 35%);

				&:hover,
				&:focus {
					color: darken($color__brand-primary, 50%);
				}
			}
		}
	}
}

#search-wrapper {
	@include transition(0.25s, height);
	overflow: hidden;
}

#search-loading {
	opacity: 0;
	pointer-events: none;
	@include transition(0.25s);
	@include transform(translateY, -50%);
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 127px;
	height: auto;
}

#search-result {
	overflow-y: auto;
	text-align: left;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    div {
        white-space: normal;
    }
}

#results-fancy {
	@include clear();

	h1 {
		margin: 50px 0 25px 0;
		display: block;
	}

	p {
		margin: 0;
		color: $color__brand-black-dark;
	}

	h2,
	img {
		display: inline-block;
		vertical-align: middle;
	}

	h2 {
		margin: 0;
		margin-left: 10px;
	}
}

@media screen and (max-width: 480px) {
	.o4 {
		&-fullscreen {
			padding: 5px;

			&-inner {
				padding: 5px;

				&-search {
					input,
					button {
						font-size: 1em;
						padding: 2.5px 7.5px;				
					}
				}
			}
		}
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.o4 {
		&-fullscreen {
			&-inner {
				padding: 25px;

				&-search {
					input,
					button {
						font-size: 1.5em;
						padding: 5px 15px;				
					}
				}
			}
		}
	}
}

@media screen and (min-width: 769px) {
	.o4 {
		&-fullscreen {
			&-inner {
				padding: 50px;

				&-search {
					input,
					button {
						font-size: 2em;
						padding: 10px 25px;
					}
				}
			}
		}
	}
}