@import "../_config/_getConfig.scss";

body {
    color: $cBlack;
    background-color: $cGrey;
}

#om {
    @include center('block');
    width: 100%;
    max-width: 670px;
}

img {
    &.avatar {
        border-radius: 100%;
    }
}

#me {
    @include transition(0.5s);
    width: 256px;

    &:hover {
        border-radius: 0;
    }
}

#dropdown {
    ul {
        display: none;
    }

    li {
        &:hover {
            ul {
                display: block;
            }
        }
    }
}