// General Variables
$width-small:  480px !default;
$width-medium: 768px !default;
$width-large:  1200px !default;

$navigation-height: 50px !default;

$padding-small:  25px !default;
$padding-medium: 50px !default;
$padding-large:  100px !default;

// Fonts
$fonts:         sans-serif, Helmet, Freesans !default;
$font_normal:  'loraregular', $fonts !default;
$font_p:       'loraregular', $fonts !default;   // Paragraphs
$font_a:       'latolight', $fonts !default;   // Links
$font_h:       'latoregular', $fonts !default; // Headings
$font_q:       'latolight_italic', $fonts !default; // Quotes
$font_bold:    'lorabold', $fonts !default;
$font_italic:  'loraitalic', $fonts !default;
$font_light:   'loralight', $fonts !default;
$font_brand:   'latoregular', $fonts !default;

$font_p_lineheight: 200% !default;
$font_h_lineheight: 100% !default;
$font_q_lineheight: 200% !default;

// Media Query Ranges
$smallest-screen-up: 1px !default;
$small-screen:       480px !default;
$small-screen-up:    481px !default;
$medium-screen:      768px !default;
$medium-screen-up:   769px !default;
$large-screen:       1200px !default;
$large-screen-up:    1201px !default;

$smallest-and-up: "screen and (min-width : #{$smallest-screen-up})" !default;
$small-and-down:  "screen and (max-width : #{$small-screen})" !default;
$small-and-up:    "screen and (min-width : #{$small-screen-up})" !default;
$medium-and-down: "screen and (max-width : #{$medium-screen})" !default;
$medium-only:     "screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$medium-and-up:   "screen and (min-width : #{$medium-screen-up})" !default;
$large-and-down:  "screen and (max-width : #{$large-screen})" !default;
$large-and-up:    "screen and (min-width : #{$large-screen-up})" !default;

// Grid Variables
$num-cols: 12 !default;