// Fonts
$font-sans:  'New Frank', 'Rubik', sans-serif;
$font-sans-italic: $font-sans;
$font-serif: 'Butler', 'Playfair Display', serif;
$font-serif-italic: $font-serif;
$font-mono:  'GT Pressura Mono', monospace;
$font-mono-italic: $font-mono;

// Weights
$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   700;

// Body, headings and code setup
$font-body: $font-sans;
$font-body-italic: $font-sans-italic;
$font-body-weight: $font-weight-normal;

$font-headings: $font-serif;
$font-headings-italic: $font-serif-italic;
$font-headings-weight: $font-weight-bold;

$font-code: $font-mono;
$font-code-italic: $font-mono-italic;
$font-code-weight: $font-weight-normal;

// sizes
$font-ratio: 1.333;
$font-base: 100%; // Use the browser's default. This allows users to change it via settings
$base: 16; // Base to use for calculations
$font-size-desktop: 1.2em;
$font-size: 1em;
$line-height-desktop: $base/10;
$line-height: $line-height-desktop;

$font-size-xxl: 1em * $font-ratio*$font-ratio*$font-ratio*$font-ratio;
$font-size-xl:  1em * $font-ratio*$font-ratio*$font-ratio;
$font-size-l:   1em * $font-ratio*$font-ratio;
$font-size-m:   1em * $font-ratio;
$font-size-s:   1em / $font-ratio;
$font-size-xs:  1em / ($font-ratio*$font-ratio);

// Headings: font-size, line-height, margin-top, margin-bottom
$headings: (
	h1: ($font-size-xxl, $line-height, $line-height+rem, $line-height/4+rem),
	h2: ($font-size-xl,  $line-height, $line-height+rem, $line-height/4+rem),
	h3: ($font-size-l,   $line-height, $line-height+rem, $line-height/4+rem),
	h4: ($font-size-m,   $line-height, $line-height+rem, $line-height/4+rem),
	h5: ($font-size-m,   $line-height, $line-height+rem, $line-height/4+rem),
	h6: (1em,            $line-height, $line-height+rem, $line-height/4+rem)
);
