@import 'colors';
@import 'typography';

$grid_columns: 10;

$size-xs:     239 / $base + rem;
$size-xs-up:  240 / $base + rem;
$size-s:      479 / $base + rem;
$size-s-up:   480 / $base + rem;
$size-m:      767 / $base + rem;
$size-m-up:   768 / $base + rem;
$size-l:      1023 / $base + rem;
$size-l-up:   1024 / $base + rem;
$size-xl:     1365 / $base + rem;
$size-xl-up:  1366 / $base + rem;
$size-xxl:    1919 / $base + rem;
$size-xxl-up: 1920 / $base + rem;

$pad-xxs: #{$base/10/2/2/2}em;
$pad-xs:  #{$base/10/2/2}em;
$pad-s:   #{$base/10/2}em;
$pad-m:   #{$base/10}em;
$pad-l:   #{$base/10*2}em;
$pad-xl:  #{$base/10*2*2}em;
$pad-xxl: #{$base/10*2*2*2}em;

$border-radius-xxs: #{$base/10/2/2/2}em;
$border-radius-xs:  #{$base/10/2/2}em;
$border-radius-s:   #{$base/10/2}em;
$border-radius-m:   #{$base/10}em;
$border-radius-l:   #{$base/10*2}em;
$border-radius-xl:  #{$base/10*2*2}em;
$border-radius-xxl: #{$base/10*2*2*2}em;

// Styles we can get the same variables in JS via getComputedStyle()
#size-xs-up {
	display: none;
	width: $size-xs-up;
}

#size-s-up {
	display: none;
	width: $size-s-up;
}

#size-m-up {
	display: none;
	width: $size-m-up;
}

#size-l-up {
	display: none;
	width: $size-l-up;
}

#size-xl-up {
	display: none;
	width: $size-xl-up;
}

#size-xxl-up {
	display: none;
	width: $size-xxl-up;
}
