#header-main {
  position: absolute;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  @media screen and (min-width: $size-s-up) {
    padding: $pad-m 0;
  }
}

#nav-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: $pad-m;
  width: 100%;
  max-width: $size-s;
  background-color: $color-white;
  box-shadow: 0 1em 1em -1em rgba($color-black-blue, 0.1);

  @media screen and (min-width: $size-s-up) {
    border-radius: $border-radius-xs;
  }

  @media screen and (min-width: $size-m-up) {
    max-width: $size-m;
    padding: $pad-m $pad-l;
    flex-direction: row;
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      outline: none;
      text-decoration: underline;
    }
  }

  .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    @media screen and (max-width: $size-m) {
      order: 0;
    }

    a {
      font-weight: 700;
      font-family: $font-headings;
      font-size: 2em;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: $size-m) {
      flex-direction: column;
      order: 1;
      width: 100%;
      text-align: center;
    }

    a {
      margin: 0 $pad-s;

      @media screen and (min-width: $size-m-up) {
        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

}
