#header-main {
  position: absolute;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: $pad-m 0;
}

#nav-main {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: $pad-m $pad-l;
  width: 100%;
  max-width: $size-m;
  background-color: $color-white;
  box-shadow: 0 1em 1em -1em rgba($color-black-blue, 0.1);

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  .logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    a {
      font-weight: 700;
      font-family: $font-headings;
      font-size: 2em;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;

    a {
      margin: 0 $pad-s;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
