body>nav {
  position: sticky;
  top: 0;
  z-index: 4;
  grid-area: n;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: $color-white;
  padding: 0 $pad-m;

  .brand,
  .links,
  .menu-trigger {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .brand {
    a {
      width: 2em;
      height: 2em;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  .links {
    flex-grow: 1;

    a {
      padding: 0 $pad-s;
      text-decoration: none;

      &:first-child {
        margin-left: auto;
      }
    }

    @media screen and (max-width: $size-s) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      background-color: $color-white;
      z-index: 5;
      padding: $pad-m;
      height: auto;
      max-height: 90vh;
      overflow-y: auto;
      width: 100%;
      box-shadow: 0 2em 4em -2em rgba($color-shadow, 0.25);

      a {
        // width: 100%;
        padding: $pad-s $pad-m;
        margin: 0;

        &:first-child {
          margin: 0;
        }
      }

      &.menu-show {
        display: flex;
      }
    }
  }

  .menu-trigger {
    @media screen and (min-width: $size-s-up) {
      display: none;
    }

    button {
      border: none;
      background-color: transparent;
      padding: 0;
      width: 2em;
      height: 2em;

      .icon {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;

        &.close {
          display: none;
        }
      }
    }

    &.active {
      button img.open  { display: none;  }
      button img.close { display: block; }
    }
  }
}
