// Clearfix
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table
	}

	&:after{
		clear: both
	}
}

@mixin transition($properties, $duration: 250ms, $timing_function: cubic-bezier(0.4, 0.0, 0.2, 1)) {
	transition-property: #{$properties};
	transition-duration: #{$duration};
	transition-timing-function: $timing_function;
}

@mixin shadow($depth: 1, $strength: 1) {
	@if $depth == 0 { box-shadow: 0 0 0 rgba($color-shadow, 0); }

	@if $strength == 1 {
		@if $depth == 1 { box-shadow: 0 .25rem 1rem rgba($color-shadow, .05); }
		@else if $depth == 2 { box-shadow: 0 .5rem 1rem rgba($color-shadow, .05);  }
	}

	@if $strength == 2 {
		@if $depth == 1 { box-shadow: 0 .25rem 1rem rgba($color-shadow, .1); }
		@else if $depth == 2 { box-shadow: 0 .5rem 1rem rgba($color-shadow, .1); }
	}

	@if $strength == 3 {
		@if $depth == 1 { box-shadow: 0 .25rem 1rem rgba($color-shadow, .2); }
		@else if $depth == 2 { box-shadow: 0 .5rem 1rem rgba($color-shadow, .2); }
	}
}

@mixin hide-on($size) {
	@if $size == 'xs' {
		@media screen and (max-width: $size-xs) { display: none; }
	}

	@if $size == 's-down' {
		@media screen and (max-width: $size-s) { display: none; }
	}

	@if $size == 's' {
		@media screen and (min-width: $size-xs-up) and (max-width: $size-s) { display: none; }
	}

	@if $size == 's-up' {
		@media screen and (min-width: $size-xs-up) { display: none; }
	}

	@if $size == 'm-down' {
		@media screen and (max-width: $size-m) { display: none; }
	}

	@if $size == 'm' {
		@media screen and (min-width: $size-s-up) and (max-width: $size-m) { display: none; }
	}

	@if $size == 'm-up' {
		@media screen and (min-width: $size-s-up) { display: none; }
	}

	@if $size == 'l-down' {
		@media screen and (max-width: $size-l) { display: none; }
	}

	@if $size == 'l' {
		@media screen and (min-width: $size-m-up) and (max-width: $size-l) { display: none; }
	}

	@if $size == 'l-up' {
		@media screen and (min-width: $size-m-up) { display: none; }
	}

	@if $size == 'xl-down' {
		@media screen and (max-width: $size-xl) { display: none; }
	}

	@if $size == 'xl' {
		@media screen and (min-width: $size-l-up) and (max-width: $size-xl) { display: none; }
	}

	@if $size == 'xl-up' {
		@media screen and (min-width: $size-l-up) { display: none; }
	}

	@if $size == 'xxl' {
		@media screen and (min-width: $size-xl-up) and (max-width: $size-xxl) { display: none; }
	}

	@if $size == 'xxl-up' {
		@media screen and (min-width: $size-xl-up) { display: none; }
	}
}
